body {
    background: #f5f5e1;
    color: #000000;
    padding: 0 24px;
    padding-bottom: 1100px;
    margin: 0;
    height: 100vh;
    display: block;
    position: absolute;
    left: 10px;
    top: 100px;
    width: 1450px;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 17px Garamond;
    
  }

  h1 {
    color: rgb(28, 50, 128);
    font: 50px Garamond;
  }

  h2 {
    color: rgb(215, 84, 32);
    font: 50px Garamond;
  }

  h3 {
    color:rgb(171, 112, 171);
    font: 26px Garamond;
  }

  a{
    margin-top: 20 px;
    font-size: 19px;
    display: inline-block;
    padding: 12px 20px;
    background-color: rgb(28, 50, 128);
    border-radius: 5px;
    color: #fff
  }






  